.bg-primary {
    background-color: rgb(92, 200, 142) !important;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: auto;
}

.user-logo-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

img {
    max-width: 100%;
}