.bg-primary {
    background-color: rgb(92, 200, 142) !important;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: auto;
}

.user-logo-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

img {
    max-width: 100%;
}

.modal-header {
    background-color:  rgb(92, 200, 142);
    color: white; 
    height: 200%;
}

.btn-primary {
    background-color: rgb(92, 200, 142);
    border-color: rgb(92, 200, 142);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(88, 184, 132);
}