{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    {% for course, modules in courses.items %}
  
    <div class="row bg-primary" >
        <div class="col-sm-3 p-4"></div>
        <div class="col-sm-6 p-4" >
            <h2 class="display-5 text-light align-middle text-center" style="color:#f8f9fa" >
                {{course.title}}
            </h2>
            <ul class="list-group" >
                {% for module in modules%}
                <li class="list-group-item" align='center' style="color:#f8f9fa;background-color:#6c757d;">{{module.title}}</li>
                {% endfor %}
                <br/>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}